/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import "../node_modules//bootstrap/dist/css/bootstrap.min.css";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
:root{
    --brandi-one: #1A55b4;
    --brandi-two: #6aa5ff;
    --secondary-salmon: #fe746f;
    --secundary-yellow: #fec857;
    --secundary-white-one: #f3f4f6;
    --secundary-white-two: #d4d4d4;
}