<div class="container d-flex justify-content-center align-items-center text-center"
  style="height: 100vh; background-color: var(--secundary-white-one);">
  <div class="col">
    <p class="h1" style="color: var(--brandi-one); font-weight: bold;">Bem vindo!</p>
    <div>
      <img src="../../assets/welcomePicture.jpg" class="img-fluid">
    </div>
    <span>Organize seu dia com Tudu.</span>
  </div>
  <div class="dropdown bottom-dropdown fixed-bottom rounded-top-5 p-3" [ngClass]="{'expanded': isOpen}"  
       style="background-color: var(--secundary-white-two);">
      <fa-icon 
      [icon]="faArrowUp"
      style="color: var(--brandi-one);"
      (click)="toggleDropdown()"
      ></fa-icon>
  </div>
</div>